body {
  font-family: monospace;

}

p {
  text-align: center;
  padding-top: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

html {
  background-image:  url("https://image.ibb.co/bQfaPS/refrigdoor1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


h1 {
  margin: auto;
  width: 100%
  height: 40px;
  z-index: 3;
  text-align: center;
}

form, p, input {
  font-family: 'Boogaloo', cursive;
}


#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: auto;
  margin: 0px;
  overflow: none;
  padding: 0px;
}

div#container{
  width: 100%;
  height: 100%;
  margin: 0px;
}


.draggable {
  font-family: monospace;
  background: #F90;
  float: left;
}
.draggable.is-pointer-down {
  background: #09F;
  z-index: 2; /* above other draggies */
}
.draggable.is-dragging { opacity: 0.7; }

#chooseSet {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 3;
  display: inline-block;
}

#chooseNumOfWords {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 100px;
  right: 60px;
  z-index: 3;
  display: inline-block;
}

#chooseFont {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 220px;
  right: 60px;
  z-index: 3;
  display: inline-block;
}

input#chooseOriginal {
  display: inline-block;
}

input#chooseGalvanize {
  display: inline-block;
}

#makeNewSet {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 340px;
  right: 60px;
  z-index: 3;
}

#reset {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 400px;
  right: 60px;
  z-index: 3;
  text-align: center;
}

#addMagnet {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 440px;
  right: 60px;
  z-index: 3;
  text-align: center;
}

.original, .additional, .custom {
  position: absolute;
  height: 30px;
  margin-bottom: 5px;
  background-color: white;
  border: solid 1px black;
  box-shadow: 5px 5px 2px grey;
}

#myModal {
  display: none;
}
